/*  Typical Device Breakpoints
---------------------------------
Pequenas telas: até 600px;
Celular: de 600px até 768px;
Tablet: de 768px até 992px;
Desktop: de 992px até 1200;
Grande Telas: Acima de 1200px;
*/

@media screen and (min-width: 768px) and (max-width: 992px){ /* Tablet */
    body {
        background-image: linear-gradient(to bottom, var(--purple), var(--green));
    }

    section#login {
        width: 70vw;
    }

    form {
        transform: translateY(90px);
    }

    section#login div#img-login {
        background-image: url(../images/bgtablet.jpg);
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login div#form-login {
        float: right;
        width: 60%;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, var(--purple), var(--green));
    }

    section#login {
        width: 85vw;
    }

    form {
        transform: translateY(90px);
    }

    section#login div#img-login {
        background-image: url(../images/bgpc.jpg);
        background-position: center center;
        float: left;
        width: 50%;
        height: 100%;
    }

    section#login div#form-login {
        position: relative;
        float: right;
        width: 50%;
    }

}