:root {
    --purple: #5f2c82;
    --green: #49a09d;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html, body {
    background-color: var(--purple);
    width: 100vw;
    height: 100vh
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login h1 {
    text-align: center;
    padding: 10px;
}

div#img-login {
    display: block;
    background-image: url(../images/bgcll.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35%;
}

div#form-login {
    display: block;
    padding: 10px;
}

div.div-input {
    background-color: var(--purple);
    height: 40px;
    margin: 5px 0px;
    border-radius: 5px;
}

div.div-input i {
    color: white;
    font-size: 2em;
    padding: 5px;
}

div.div-input input {
    border-radius: 5px;
    border: 2px solid var(--purple);
    width: calc(100% - 47px);
    height: 100%;
    transform: translateY(-12px);
    padding: 5px;
}

button {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

button#btn-enter {
    background-color: var(--green);
    color: white;
    border: none;
}
button#btn-enter:hover {
    background-color: #2a5857;
}

button#btn-forgot {
    border: 2px solid var(--green);
}

button#btn-forgot:hover {
    background-color: #6cd3cf;
}